./zjazd9/DS Bootcamp 14-15.05/Zaawansowane problemy klasyfikacji/dataset/santander/test.csv
./zjazd9/DS Bootcamp 14-15.05/Zaawansowane problemy klasyfikacji/dataset/santander/train.csv
./zjazd_9/DS Bootcamp 14-15.05/Zaawansowane problemy klasyfikacji/dataset/santander/test.csv
./zjazd_9/DS Bootcamp 14-15.05/Zaawansowane problemy klasyfikacji/dataset/santander/train.csv
./.git/objects/93/c9a01d591e20b0f5ac956bda8c45ee1dc40dc2
./.git/objects/pack/pack-0f9ccb3cf286508deefbf70000bdc3a153de5876.pack
./.git/objects/e8/2d924828aa53c1d217e342760cbdcf8e6fad79
